/* .pcat{

   
}
/* .container5{
   
    background-image: url('https://thumbs.dreamstime.com/z/e-commerce-concept-interface-world-map-blue-background-51330183.jpg');  
} */

/* 
.cate{
    color:red;
}
.img3{
    margin-left:20px;
}
.container4{
    background:pink;
    margin-top:20px;
}
.cate4{
    color:green;
    font-size:14px;
}
.cart2{
    background-color:grey;
} */ 